[Unit]
Description=RaspberryPi weather station Webinterface - Frontendserver
After=network.target

[Service]
ExecStart=/usr/bin/serve -s /home/pi/rpi-weatherstation-web/build
WorkingDirectory=/home/pi/rpi-weatherstation-web/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi	

[Install]
WantedBy=multi-user.target