/*
#
# written by @author ZyzonixDev
# published by ZyzonixDevelopments 
# -
# date      | 25/06/2021
# -
# file      | src/WebCore.css
# project   | rpi-weatherstation-web
# project-v | 1.0.0 (beta)
# 
*/
/* NOTE:
margin/padding: TOP RIGHT BOTTOM LEFT;
*/

body {
    background-color: #2f4f4f;
}
/* imprint style (last row) */
.imprint {
    text-align: center;
    font-size: 7.5px;
    font-family: Arial;
}
.imprint-link {
    text-decoration: none;
    color: black;
    transition-duration: 0.5s;
}
.imprint-link:hover {
    text-decoration: underline;
    color: darkred;
}
/* livedatabox style */
.liveBox {
    float: left;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    margin: 0px 5px 0px 5px;
}
/* textbox style of livedataboxes */
.liveText {
    position: relative;
    /* INFO: top, left and transform --> centers div horizontally and vertically*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.liveDataHolder {
    float: left;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 25px;
    height: 12px;
}
/* style of header rows (title aswell as livedata)*/
.headerRow {
    float: left;
    width: 100%;
    margin: 20px 0px 20px 0px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}
.headerRow2 {
    float: left;
    width: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}
/* hr line between title and livedata (when livedata is available)*/
.spacer {
    margin: 0px 2% 0px 2%;
    border: 0.5px solid black;
}
.dataIcon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
/* selectionbox style */
.sbox {
    float: left;
    width: 13%;
    margin: 20px 0px 20px 0px;
    text-align: center;
    padding: 5px 0.5% 5px 0.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}
/* textcontentstyle of selectbox */
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 10px;
}
.genButton {
    float: left;
    width: 11%;
    margin: 20px 0px 20px 0px;
    text-align: center;
    padding: 5px 2.5% 5px 2.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}
.timeField {
    width: 75%;
}
input, .selectmenu, #ggraph{
    background-color: #ffa500;
    border: solid;
    border-color: black;
    border-width: 0.5px;
    border-radius: 20px;
    color: black;
    outline: none;
    text-align: center;
    transition-duration: 0.5s;
}
#ggraph {
    padding: 12px;
}
#ggraph:hover {
    padding: 12px;
    box-shadow: 0 4px 9px 0 #4d0909;
}
input:hover, .selectmenu:hover, input:focus, .selectmenu:focus  {
    background-color: white;
    border-color:white;
}
#ggraph:active {
    background-color: orange;
    box-shadow: none;
    transform: translateY(2px);
}
input::placeholder {
    color: black;
    text-align: center;
    padding: 5px;
}
#loadingB {
    padding-top: 7.5px;
    background-color: #ffa500;
    color: black;
    text-align: center;
    transition-duration: 0.5s;
    border: none;
}
/* the folling part was created with loading.io */
@keyframes loadingCore {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}
.loadingCore > div > div {
    position: absolute;
    border-radius: 50%;
}
.loadingCore > div > div:nth-child(1) {
    top: 7.5px;
    left: 7.5px;
    width: 35px;
    height: 35px;
    background: #000000;
}
.loadingCore > div > div:nth-child(2) {
    top: 9.950000000000001px;
    left: 19.75px;
    width: 10.5px;
    height: 10.5px;
    background: #ffa500;
    animation: loadingCore 1s linear infinite;
    transform-origin: 5.25px 15.049999999999999px;
}
.loadingBase {
    width: 50px;
    height: 50px;
    display: inline-block;
    overflow: hidden;
}
.loadingCore {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.loadingCore div { 
    box-sizing: content-box; 
}
/* end of part */
.chartPanel {
    padding: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

